## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
count = application_df["APPLICATION_TYPE"].value_counts()
count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = count.loc[count<400].index
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = classification_counts[classification_counts > 1]
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = classification_counts[classification_counts < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# view df to determine categorical data
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_data = pd.get_dummies(application_df, columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
categorical_data['STATUS'] = application_df['STATUS']
categorical_data['ASK_AMT'] = application_df['ASK_AMT']
categorical_data.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [22]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [24]:
categorical_data.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [25]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values #target
X = categorical_data #features

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 39, stratify = y)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [27]:
X_train_scaled.shape

(25724, 44)

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hiddenlayer_1 = 1
hiddenlayer_2 = 1
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hiddenlayer_1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hiddenlayer_2, activation="relu")
)
# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 1)                 45

 dense_4 (Dense)             (None, 1)                 2

 dense_5 (Dense)             (None, 1)                 2

=================================================================
Total params: 49 (196.00 Byte)
Trainable params: 49 (196.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 5ms/step - loss: 0.6701 - accuracy: 0.6024
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3793 - accuracy: 0.8828
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1643 - accuracy: 0.9751
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1207 - accuracy: 0.9766
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.1044 - accuracy: 0.9767
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0978 - accuracy: 0.9768
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0951 - accuracy: 0.9768
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0941 - accuracy: 0.9768
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0938 - accuracy: 0.9768
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0937 - accuracy: 0.9768
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0936 - accuracy: 0.9768
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0985 - accuracy: 0.9765
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0863 - accuracy: 0.9790
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0844 - accuracy: 0.9797
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0841 - accuracy: 0.9798
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9799
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9799

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.0736 - accuracy: 0.9831 - 1s/epoch - 5ms/step
Loss: 0.07361104339361191, Accuracy: 0.9830904006958008

In [33]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(